:root, html[data-theme='light'] {
  // home
  --background: #9CBEBE;
  --todo-bg: #3DA1C0;
  --preview-bg: #A4D7ED;
  --main-color: #1884B2;
  --week-color: #0D77A5;
  --preview-color: #1884B2;
  --btn-color: #1A89EF;
  --egg-morning: #ECE395;
  --egg-afternoon: #F1E8E7;
  --egg-night: #4892E8;
  --egg-empty: #3DA1C0;
  --egg-done: #DCB2B0;
  // sidebar
  --sidebar-bg: #E9E2D5;
  --logo-bg: #C8E0D7;
  --logo-border: #F9FFD75C;
  --sidebar-color: #0D77A5;
  // worksNav
  --nav-bg: #8DB9C3;
  --nav-color: #0D77A5;
  --add-btn: url('@/assets/btn-add.png');
  // worksDay
  --day-bg: #A4D7ED;
  --card-bg: #DAF4FF;
  --edit-btn-color: #3D6C8D;
  // input
  --radio-color: #98C3C3;
  --radio-checked: #1884B2;
  --input-bg: #C8E7F4;
  --placeholder-color: #5991A5;
  // popup
  --popup-filter: #CACBCBC9;
  --popup-bg: #DAF4FF;
  --cancel-btn-bg: #A9CFDF;
  --cancel-btn-color: #3392A3;
  --submit-btn-bg: #3AA4B7;
  --submit-btn-color: #FFFFFF;
  // list
  --list-border: #1884B2;
  --list-bg: #DAF4FF;
}


html[data-theme='dark'] {
  --background: #242828;
  --todo-bg: #94A1A5;
  --preview-bg: #AEB9BD;
  --main-color: #fff;
  --preview-color: #354E58;
  --week-color: #7DA0AF;
  --btn-color: #465F69;
  --egg-morning: #BBB57E;
  --egg-afternoon: #D6CCCC;
  --egg-night: #6B97CA;
  --egg-empty: #94A1A5;
  --egg-done: #937E7D;
  // sidebar
  --sidebar-bg: #777777;
  --logo-bg: #8F9291;
  --logo-border: #EFF0E95C;
  --sidebar-color: #CBDBE2;
  // worksNav
  --nav-bg: #4E5A5C;
  --nav-color: #DEECF2;
  --add-btn: url('@/assets/btn-add-light.png');
  // worksDay
  --day-bg: #626769;
  --card-bg: #293235;
  --edit-btn-color: #CFE7F8;
  // input
  --radio-color: #DEDEDE;
  --radio-checked: #626769;
  --input-bg: #414E50;
  --placeholder-color: #fff;
  // popup
  --popup-filter: #3E3D3DE0;
  --popup-bg: #73868E;
  --cancel-btn-bg: #1B3337;
  --cancel-btn-color: #fff;
  --submit-btn-bg: #8E9CA1;
  --submit-btn-color:#3A5D63;
  // list
  --list-border: #fff;
  --list-bg: #293235;
}


