$transition-time: 0.6s;
// fonts
@mixin h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
@mixin h3 {
  font-size: 0.9rem;
  font-weight: 700;
}
@mixin navFont {
  color: var(--nav-color);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.115em;
}

@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin circle($size) {
  width: $size;
  aspect-ratio: 1;
  border-radius: 100%;
}


@mixin flex ($direction: row, $justify: flex-start, $align: stretch ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position ($position, $x, $xValue, $y, $yValue){
  position: $position;
  #{$x}: $xValue;
  #{$y}: $yValue;
}

@mixin divBtn {
 cursor: pointer;
    transition: opacity $transition-time, transform $transition-time;
    &:hover {
      opacity: 0.6;
    }
}